body{
background-color:#7191FD;
}

#sitename{
text-align:left;
font-family: Century Schoolbook;
font-size:40px;
color:#FFFFFF;
padding-top:30px;
}

#site_ends{
text-indent:10px;
text-align:left;
background-color:#24285B;
font-family: "Bradley Hand ITC";
font-size:30px;
color:#FFFFFF;
}

#container{
margin-top:10px;
margin-bottom:0px;
padding-top:5px;
background-color:#FFFFFF;
height:500px;

}

#content_form{
width:585px;
padding-top:60px;
padding-left:55px;
}

.heading{
background-color:#0099CC;
margin:7px;
height:30px;
width:auto;
color:#FFFFFF;
}

.heading_text{
text-align:left;
font-weight:900;
margin:5px;
padding-top:2px;
font-size:20px;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

input{
border-radius:5px;
text-align:left;
padding-left:5px;
}

th{
text-align:left;
width:200px;
}

#register{
background-color:#666666;
color:#FFFFFF;
font-family:Consolas;
}

.managearticle_link{
padding-left:20px;
text-decoration:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
color:#24285B;
}

textarea{
border-radius:15px;
resize: none;
height:100px;
width:23em;
}

#footer{
text-align:center;
background-color:#24285B;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:14px;
color:#FFFFFF;
}

.error{
color:#FF3300;
font-size:18px;
font-family:Georgia, "Times New Roman", Times, serif;
}
