body{
background-color:#7191FD;
}

#sitename{
text-align:left;
font-family: Century Schoolbook;
font-size:40px;
color:#FFFFFF;
padding-top:30px;
}

#site_ends{
text-indent:10px;
text-align:left;
background-color:#24285B;
font-family: "Bradley Hand ITC";
font-size:30px;
color:#FFFFFF;
}

#login{
float:right; 
padding-top:8px; 
position:absolute; 
right:50px; 
color:#FFFFFF; 
text-decoration:none; 
font-size:16px;
}

#container{
width:100%;
margin-top:7px;
height:auto;
}

#navigation{
margin:0px auto;
float:left;
width:20%;
background-color:#24285B;
height:517px;
}

#content{
width:79%;
padding-left:21%;
text-align:left;
background-color:#FFFFFF;
height:513px;
}

.heading{
background-color:#0099CC;
margin:7px;
height:30px;
width:auto;
color:#FFFFFF;
}

.heading_text{
text-align:left;
font-weight:900;
margin:5px;
padding-top:2px;
font-size:20px;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-decoration:none;
}

.img{
float:left;
text-align:center;
color:#FF6600;
font-weight:bold;
width:180;
height:180;
}

table{
width:100%;
border-collapse:collapse;
border:1px solid #000066;
}

.tb{
margin:1% auto;
padding-top:2%;
display:table;
width:98%;
}

.table_head{
background-color:#333333;
table-layout:auto;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-weight:bolder;
font-size:18px;
color:#000000;

}

th{
background-color:#666666;
}

td{
background-color:#CCCCCC;
}

#footer{
text-align:center;
background-color:#24285B;
font-family:Georgia, "Times New Roman", Times, serif;
font-size:14px;
color:#FFFFFF;
}
